.container {
    display: grid;
    width: 100%;
    height: calc(100vh - 64px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 8px 10px;

.box1 {
        grid-column: 1 /4;
        grid-row: 1 / 5;
    }

.box2 {
        position: relative;
        grid-column: 4 /5;
        grid-row: -5 / -1;
    }
}

.camera {
 &__item {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    width:calc((100% / 2) - 20px);
    margin: 10px;
    box-shadow: 22px 22px 84px rgba(237, 238, 247, 0.7);
 }   
}
