.container {
 display: grid;
 width: 100%;
 height: calc(100vh - 80px);
 grid-template-areas: "b b a" "b b c" "b b c";

.box1 {grid-area: b;  margin-right: 8px;}
.box2 { grid-area: a;}
.box3 { grid-area: c;}
.box1, .box2, .box3 {
    background: #FCFCFC;
    opacity: 0.7;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 22px 22px 84px rgba(237, 238, 247, 0.7);
}
}
