$black: #3b434e;
$gray-light: #ebebeb;
$white: white;
$primary: #7653fc;
$primary-hover: #6544df;
$red: #fc836d;
$green: #1dc37e;
$green-light: #c8f8e4;
$font-family: "Noto Sans", sans-serif;
$blue: #3376D1;